.title {
  margin-bottom: 40px;
}
h1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
/*  */
h2 {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.sun {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.sunbox {
  width: 100px;
  height: 24px;
  margin-left: 40px;
  border-radius: 10px;
  background-color: rgb(53, 53, 53);
}

.calculator {
  width: 350px;
  height: auto;
  border-radius: 10px;
  background-color: rgb(177, 177, 177);
  text-align: center;
  box-sizing: border-box;
}

#viewScreen {
  width: calc(80% - 10px);
  height: 100px;
  margin: 0 auto 50px auto;
  border-radius: 10px;
  background-color: #eaebe4;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  text-align: right;
}
.topwrap {
  border-radius: 10px 10px 0 0;
  background-color: rgb(105, 105, 105);
}
.click__btns {
  width: 100%;
}

h4 {
  margin-right: 40px;
  color: #eaebe4;
  text-align: right;
}
/* ---------버튼------------ */

.calculator__click--area {
  margin: 40px 0;
}
input {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #eaebe4;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  box-sizing: border-box;
  transition: all 0.3s;
}
#clear {
  width: 125px;
  background-color: #c33949;
  color: #eaebe4;
}
#result {
  width: 125px;
}
.click__btns > input:hover {
  border: none;
  background-color: #eaebe4;
  color: #c33949;
}

.click__btns > input:active {
  border: none;
  background-color: #c33949;
  color: #eaebe4;
}

input {
  outline: none;
}
